[submodule "faucet"]
	path = faucet
	url = git@github.com:babylonchain/faucet
[submodule "contrib/images/ibcsim-wasmd/babylon-contract"]
	path = contrib/images/ibcsim-wasmd/babylon-contract
	url = git@github.com:babylonchain/babylon-contract.git
[submodule "btc-staker"]
	path = btc-staker
	url = git@github.com:babylonchain/btc-staker.git
[submodule "finality-provider"]
	path = finality-provider
	url = git@github.com:babylonchain/finality-provider.git
[submodule "babylon-api"]
	path = babylon-api
	url = git@github.com:babylonchain/babylon-api.git
[submodule "rpc-poller"]
	path = rpc-poller
	url = git@github.com:babylonchain/rpc-poller.git
[submodule "covenant-emulator"]
	path = covenant-emulator
	url = git@github.com:babylonchain/covenant-emulator.git
[submodule "babylon"]
	path = babylon
	url = git@github.com:babylonchain/babylon.git
[submodule "vigilante"]
	path = vigilante
	url = git@github.com:babylonchain/vigilante.git
[submodule "btc-discord-faucet"]
	path = btc-discord-faucet
	url = git@github.com:babylonchain/btc-discord-faucet.git
[submodule "simple-staking"]
	path = simple-staking
	url = https://github.com/babylonchain/simple-staking.git
[submodule "staking-api-service"]
	path = staking-api-service
	url = https://github.com/babylonchain/staking-api-service.git
[submodule "staking-indexer"]
	path = staking-indexer
	url = https://github.com/babylonchain/staking-indexer.git
[submodule "cli-tools"]
	path = cli-tools
	url = git@github.com/babylonchain/cli-tools.git
	branch = tx-gen-commands
[submodule "staking-expiry-checker"]
	path = staking-expiry-checker
	url = https://github.com/babylonchain/staking-expiry-checker.git
[submodule "covenant-signer"]
	path = covenant-signer
	url = git@github.com:babylonchain/covenant-signer.git
