[submodule "contrib/images/ibcsim-wasmd/babylon-contract"]
path = contrib/images/ibcsim-wasmd/babylon-contract
url = git@github.com:babylonlabs-io/babylon-contract.git
[submodule "covenant-emulator"]
path = covenant-emulator
url = git@github.com:babylonlabs-io/covenant-emulator.git
[submodule "babylon-private"]
path = babylon-private
url = git@github.com:babylonlabs-io/babylon-private.git
branch = base/consumer-chain-support
[submodule "vigilante"]
path = vigilante
url = git@github.com:babylonlabs-io/vigilante.git
[submodule "finality-provider-phase-3"]
path = finality-provider-phase-3
url = git@github.com:babylonlabs-io/finality-provider.git
branch = base/consumer-chain-support
[submodule "btc-staker-phase-3"]
path = btc-staker-phase-3
url = git@github.com:babylonlabs-io/btc-staker.git
branch = base/consumer-chain-support
[submodule "optimism"]
	path = optimism
	url = git@github.com:babylonlabs-io/optimism.git
	branch = feat/babylon-rfc
[submodule "finality-gadget"]
	path = finality-gadget
	url = git@github.com:babylonlabs-io/finality-gadget.git

